
body{
    background-color:white;
    
}

.price {

    color: #FF136F;

}

.buy-button {
    background-image: linear-gradient(#FF589B, #FF136F);
    color: white;

}

.product{
    background-color: #F4F4F4;
}